<%- include ("./partials/cabecera") %> 
<%- include ("./partials/navbar") %> 


<%- include ("./partials/carrusel") %> 

<div class=" text-center ">
    <h1> Bienvenidos a la Biblioteca FOZ</h1>
    <br>
    <p>Aquí encontraras una colección de libros simulando ser una libreria.</p>

</div>


<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 