<%- include ("./partials/cabecera") %> 
<%- include("./partials/navbarUser")%> 

<div class="text-center">
    <form action="" class="container mt-5 w-50">

        <h3 class=" mt-2 bg-dark text-info"> <%=Libro  %></h3>

        <img class="mt-3" src="<%= ruta %> " alt="" height="600px">
        
        <br><br>

        <h3 class=" mt-2 bg-dark text-info mt-2">Autor:  <%=Autor  %></h3>
        <h3 class=" mt-2 bg-dark text-info mt-2">Genero:  <%=Genero  %></h3>


        <h3 class=" mt-2 bg-dark text-info mt-2">Edición:  <%=Edicion  %></h3>

        <h3 class=" mt-2 bg-dark text-info mt-2">Páginas:  <%=Paginas  %></h3>

        <h3 class=" mt-2 bg-dark text-info mt-2">Editorial:  <%=Editorial  %></h3>

        <h3 class=" mt-2 bg-dark text-info mt-2">Autor:  <%=Resumen  %></h3>

       
        
        <br><br>
        <a class="btn btn-primary" href="/galeria" role="button" >Volver</a>


    </form>
</div>
<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 